In [2]:
import pandas as pd

In [4]:
accident_data = pd.read_csv("Dataset/RTA Dataset.csv")

In [5]:
accident_data.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury

In [8]:
accident_data.columns

Index(['Time', 'Day_of_week', 'Age_band_of_driver', 'Sex_of_driver',
       'Educational_level', 'Vehicle_driver_relation', 'Driving_experience',
       'Type_of_vehicle', 'Owner_of_vehicle', 'Service_year_of_vehicle',
       'Defect_of_vehicle', 'Area_accident_occured', 'Lanes_or_Medians',
       'Road_allignment', 'Types_of_Junction', 'Road_surface_type',
       'Road_surface_conditions', 'Light_conditions', 'Weather_conditions',
       'Type_of_collision', 'Number_of_vehicles_involved',
       'Number_of_casualties', 'Vehicle_movement', 'Casualty_class',
       'Sex_of_casualty', 'Age_band_of_casualty', 'Casualty_severity',
       'Work_of_casuality', 'Fitness_of_casuality', 'Pedestrian_movement',
       'Cause_of_accident', 'Accident_severity'],
      dtype='object')

In [9]:
accident_data.isnull().sum()

Time                              0
Day_of_week                       0
Age_band_of_driver                0
Sex_of_driver                     0
Educational_level               741
Vehicle_driver_relation         579
Driving_experience              829
Type_of_vehicle                 950
Owner_of_vehicle                482
Service_year_of_vehicle        3928
Defect_of_vehicle              4427
Area_accident_occured           239
Lanes_or_Medians                385
Road_allignment                 142
Types_of_Junction               887
Road_surface_type               172
Road_surface_conditions           0
Light_conditions                  0
Weather_conditions                0
Type_of_collision               155
Number_of_vehicles_involved       0
Number_of_casualties              0
Vehicle_movement                308
Casualty_class                    0
Sex_of_casualty                   0
Age_band_of_casualty              0
Casualty_severity                 0
Work_of_casuality              3198
Fitness_of_casuality           2635
Pedestrian_movement               0
Cause_of_accident                 0
Accident_severity                 0
dtype: int64

In [11]:
accident_data.shape

(12316, 32)

In [14]:
accident_cols = ['Time','Day_of_week','Age_band_of_driver','Sex_of_driver','Educational_level','Vehicle_driver_relation']

In [42]:
X_accident = accident_data[accident_cols]
y_accident = accident_data['Accident_severity']

In [19]:
X_accident.isnull().sum()

Time                         0
Day_of_week                  0
Age_band_of_driver           0
Sex_of_driver                0
Educational_level          741
Vehicle_driver_relation    579
dtype: int64

In [28]:
X_accident['Educational_level'] = X_accident['Educational_level'].fillna(X_accident['Educational_level'].mode().iloc[0])
X_accident['Vehicle_driver_relation'] = X_accident['Vehicle_driver_relation'].fillna(X_accident['Vehicle_driver_relation'].mode().iloc[0])

# df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

/tmp/ipykernel_100284/2320232127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_accident['Educational_level'] = X_accident['Educational_level'].fillna(X_accident['Educational_level'].mode().iloc[0])
/tmp/ipykernel_100284/2320232127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_accident['Vehicle_driver_relation'] = X_accident['Vehicle_driver_relation'].fillna(X_accident['Vehicle_driver_relation'].mode().iloc[0])

In [29]:
X_accident.isnull().sum()

Time                       0
Day_of_week                0
Age_band_of_driver         0
Sex_of_driver              0
Educational_level          0
Vehicle_driver_relation    0
dtype: int64

In [32]:
y_accident

0         Slight Injury
1         Slight Injury
2        Serious Injury
3         Slight Injury
4         Slight Injury
              ...
12311     Slight Injury
12312     Slight Injury
12313    Serious Injury
12314     Slight Injury
12315     Slight Injury
Name: Accident_severity, Length: 12316, dtype: object

In [43]:
accident_happen_data = pd.concat([X_accident, y_accident], axis=1)

In [44]:
accident_happen_data

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,Slight Injury
...,...,...,...,...,...,...,...
12311,16:15:00,Wednesday,31-50,Male,NaN,Employee,Slight Injury
12312,18:00:00,Sunday,Unknown,Male,Elementary school,Employee,Slight Injury
12313,13:55:00,Sunday,Over 51,Male,Junior high school,Employee,Serious Injury
12314,13:55:00,Sunday,18-30,Female,Junior high school,Employee,Slight Injury
12315,13:55:00,Sunday,18-30,Male,Junior high school,Employee,Slight Injury

In [46]:
accident_happen_data.dropna(subset=["Accident_severity"], axis=0, inplace=True)

In [50]:
y_accident = y_accident.replace({"slightly injury": 1,"serious injury": 2,"fatal injury": 3})

In [51]:
y_accident

0         Slight Injury
1         Slight Injury
2        Serious Injury
3         Slight Injury
4         Slight Injury
              ...
12311     Slight Injury
12312     Slight Injury
12313    Serious Injury
12314     Slight Injury
12315     Slight Injury
Name: Accident_severity, Length: 12316, dtype: object